<div id="form">
  <%= form_for(@product) do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div class="field">
  <%= f.label :price %><br>
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :category %><br>
  <%= f.collection_select(:category_id, Category.all, :id, :name, :include_blank => "Please select") %>
</div>


<button type="submit" class="button">add item</button>
<% end %>
</div>


