<div class="row">
  <div id="form">
  <%= form_for(@product) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %><br>

  <%= f.label :description %>
  <%= f.text_field :description, class: 'form-control' %><br>

  <%= f.label :price %>
  <%= f.text_field :price, class: 'form-control' %><br>

  <%= f.label :category %><br>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {:include_blank => 'Please select'}, {:required => true, :class => 'form-control'}) %><br>

<br><br>
  <%= f.submit "SAVE", class: "btn btn-primary" %>

<% end %>
</div>
</div>



