<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="nav">
    <div id="nav_page">
      <% if logged_in? %>
      <%= link_to "Logout", logout_path, method: :destroy %>
      <% else %>
      <%= link_to "Login", login_path %>
      <%= link_to "Sign up", signup_path %>

      <% end %>
    </div>
    <div id="items">
      <% if logged_in? %>
      <%= link_to "All Products", root_path %>
      <%= link_to "Categories", categories_path %>
        <% if current_user.admin? %>
        <%= link_to "Cart", cart_path %>
        <%= link_to "Add New Products", new_product_path %>
        <%= link_to "Add New Category", new_category_path %>
        <% end %>
      <% end %>
    </div>

  </nav>
  <%= yield %>

</body>
</html>
